.login-image-container {
    display: none;
    width: 60vw;
    height: 100vh;
}

@media screen and (min-width: 900px) {
    .login-container {
        display: flex;
        overflow: hidden;
    }

    .login-image-container {
        display: block;
    }

    .login-image {
        height: 100%;
        object-fit: contain;
    }
}