html {
    scroll-behavior: smooth;
}


.landing-image-container {
    background-image: linear-gradient(180deg, rgba(137, 106, 96, 0.5046393557422969) 0%, rgba(91, 63, 54, 1) 100%), url("../../assets/pageImages/house2.webp");
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    height: 94vh;
}

.landing-main-header {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 90%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--bg-white);
}

.landing-link-home {
    text-decoration: none;
}

.landing-main-button {
    background-color: var(--primary-dark) !important;
    position: absolute;
    top: 50%;
    font-size: 20px !important;
}

@media screen and (min-width:900px) {
    .landing-main-header {
        font-size: 2.3rem;
    }

    .landing-main-button {
        font-size: 25px !important;
    }
}

@media screen and (min-width: 1300px) {
    .landing-image-container {
        background-image: linear-gradient(180deg, rgba(137, 106, 96, 0.5046393557422969) 0%, rgba(91, 63, 54, 1) 100%), url("../../assets/pageImages/house2L.webp");
    }

    .landing-main-header {
        font-size: 3.2rem;
    }
}