body {
    background-color: var(--bg-white) !important;
}

.register-image-container {
    display: none;
    width: 50vw;
    height: 100vh;
}

@media screen and (min-width: 900px) {
    .register-container {
        display: flex;
        overflow: hidden;
    }

    .register-image-container {
        display: block;
        background-image: url("../../assets/pagesImages/house5.webp");
        background-size: cover;
        background-position: center;
    }

    .register-image {
        height: 100%;
        object-fit: contain;
    }
}

@media screen and (min-width: 1250px) {
    .register-image-container {
        background-image: url("../../assets/pagesImages/house.webp");
        width: 60vw;
    }
}