body {
    background-color: var(--bg-white) !important;
}

.register-image-container {
    display: none;
    width: 50vw;
    height: 100vh;
}

@media screen and (min-width: 900px) {
    .register-container {
        display: flex;
        overflow: hidden;
    }

    .register-image-container {
        display: block;
    }

    .register-image {
        height: 100%;
        object-fit: contain;
    }
}

@media screen and (min-width: 1260px) {
    .register-image-container {
        width: 60vw;
    }
}