@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

:root {
    --primary: #5b3f36;
    --primary-light: #896a60;
    --primary-dark: #301810;
    --text-p-dark: #e1dddc;
    --bg-white: #f5f5f6;
    --bg-d-white: #e1e2e1;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-d-white) !important;
}